@page
@model IndexModel
@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4"><b>TaskMaster</b></h1>
    <p>Seja o mestre do seu tempo.</p>
    <a href="https://localhost:5001/Tarefas">Ir para Lista de Tarefas</a>
</div>